@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

body {
    background-color: #22212C;
}

.container {
    position: relative;
    left: 20px;
    width: 94%;
    display: flex;
    margin-bottom: 30px;
}

.personinformation {
    position: relative;  
    width: 30%;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.works {
    position: relative;
    width: 70%;
    left: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #837E9F;
    font-family: 'Merriweather Sans';
    font-style: normal;
}

.profile {
    width: 100%;
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile img, .photopost img {
    width: 128px;
    height: 128px;
    border: 2px solid #00FF00;
    border-radius: 100px;
    margin: 32px 118px 30px 102px;
}




.profile h1 {
    width: 348px;
    height: 26px;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    padding: 0px 84px 10px 68px;
}

.profile p {
    width: 348px;
    height: 17px;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    padding: 10px 118px 49px 102px;
}

.contact {
    margin-top: 30px;
    width: 100%;
    height: 348px;
}


.contact li {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    width: 348px;
    padding: 15px 0px 10px 40px;
}

.contact li a, .contact li p {
    display: inline;
    width: 200px;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-size: 12px;
    line-height: 15px;  
    padding-left: 20px;
}



.contact li a {
    color:#837E9F;
    outline: none;
    text-decoration: none;
}

.contact li img {
    width: 24px;
    height: 24px;
    justify-content: center;
}

.technologies {
    margin-top: 30px;
    width: 100%;
    height: 208px;
    
}

.technologies h1 {
    width: 121px;
    height: 26px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 35px 0px 20px 20px;
}

.technologies ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 153px;
}

.technologies li {   
    display: flex;
    list-style-type: none;
    width: 86px;
    height: 24px;
    background: #CB92B1;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.technologies li p {
    display: flex;
    font-weight: 700;
    font-size: 10px;
    color: #000000;
    justify-content: center;
    align-items: center;
}

.projects {
    width: 100%;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.projects h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.onixcontainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.onix {
    width: 48%;
    height: 186px;

    
}

.onix1 {
    width: 48%;
    height: 186px;
   
}

.onix > div, .onix1 > div {
    display: flex;
}

.titleonix img{
    margin: 30px 0px 0px 30px;
    width: 24px;
    height: 24px;
}

.titleonix h4 {
    margin: 31px 0px 0px 16px;
    
}

.onix > p, .onix1 > p {
    margin: 20px 12px 0px 30px;
    height: 40%;

}

.indicators {
    margin: 0px 0px 30px 30px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.branch, .js {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.branch img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.branch p{
    margin-right: 16px ;
}

.circle {
    width: 15px;
    height: 15px;
    border: solid;
    border-radius: 180px;
    background-color: yellow;
    margin-right: 8px;
}

.recentPost {
    margin-top: 30px;
    width: 100%;
    height: 86px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.recentPost h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.post {
    margin-top: 30px;
    width: 100%;
    height: 201px;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.photopost img {
    border: none;
    margin: 0;
}

.photopost {
    display: flex;
    width: 128px;
    height: 90%;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
}

.actives {
    height: 90%;
    margin: 30px 30px 0px 0px;
    margin-left: 20px;
    margin-right: 30px;
 
}

.titleerro {
    height: 60%;
}

.foot div {
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content:flex-start
}


.foot div p {
    display: flex;
    margin-right: 10px;
}


.foot p {
    margin-right: 20px;
}



@media screen and (max-width: 1000px) {

.personinformation {
    width: 80%;
}

.works {
    width: 100%;
}

.onixcontainer {
    display: flex;
    flex-direction: column;
}

.onix1 {
    margin-top: 30px;
}

.onix, .onix1 {
    width: 100%;
}
    
}

@media  screen and (max-width: 1073px) {
    .technologies ul{
        height: 200px;
    }
    
    .technologies {
        height: 250px;
    }

    .post {
        height: 250px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        display: block;
        width: 90%;
        
    }
    .personinformation {
        width: 100%;
    }

    .works {
        margin-top: 30px;
        width: 100%;
        left: 0px;
    }
    .post {
        flex-direction: column;
        height: 450px;

    }

    .photopost {
        height: 40%;
        margin-top: 20px;
    }

    .titleerro, .foot {
        margin-left: 30px ;
    }

    .technologies ul {
        justify-content: flex-start;
    }
    
    .technologies ul li {
        margin-right: 10px;
    }
}

