@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

body {
    background-color: #22212C;
}

.container {
    position: relative;
    left: 20px;
    width: 94%;
    display: flex;
}

.personinformation {
    position: relative;  
    width: 30%;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.works {
    position: relative;
    width: 70%;
    left: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #837E9F;
    font-family: 'Merriweather Sans';
    font-style: normal;
}

.profile {
    width: 100%;
    height: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 128px;
    height: 128px;
    background: url(image.png);
    border: 2px solid #00FF00;
    border-radius: 100px;
    margin: 32px 118px 30px 102px;
}

.profile h1 {
    width: 348px;
    height: 26px;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    padding: 0px 84px 10px 68px;
}

.profile p {
    width: 348px;
    height: 17px;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    padding: 10px 118px 49px 102px;
}

.contact {
    margin-top: 30px;
    width: 100%;
    height: 348px;
}


.contact li {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    width: 348px;
    padding: 15px 0px 10px 40px;
}

.contact li a {
    display: inline;
    width: 200px;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-size: 12px;
    line-height: 15px;  
    padding-left: 20px;
}

.contact li p {
    display: inline;
    width: 200px;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-size: 12px;
    line-height: 15px;  
    padding-left: 20px;
}

.contact li a {
    color:#837E9F;
    outline: none;
    text-decoration: none;
}

.contact li img {
    width: 24px;
    height: 24px;
    justify-content: center;
}

.technologies {
    margin-top: 30px;
    width: 100%;
    height: 208px;
    
}

.technologies h1 {
    width: 121px;
    height: 26px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 35px 0px 20px 20px;
}

.technologies ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 153px;
}

.technologies li {   
    display: flex;
    list-style-type: none;
    width: 86px;
    height: 24px;
    background: #CB92B1;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.technologies li p {
    display: flex;
    font-weight: 700;
    font-size: 10px;
    color: #000000;
    justify-content: center;
    align-items: center;
}

.projects {
    width: 100%;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.projects h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.onixcontainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.onix {
    width: 48%;
    height: 186px;
    
}

.onix1 {
    width: 48%;
    height: 186px;
}

.recentPost {
    margin-top: 30px;
    width: 100%;
    height: 86px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.recentPost h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.post {
    margin-top: 30px;
    width: 100%;
    height: 201px;
}

@media screen and (max-width: 1000px) {

.personinformation {
    width: 80%;
}

.works {
    width: 100%;
}  
    
}

@media  screen and (max-width: 1073px) {
    .technologies ul{
        height: 200px;
    }
    
    .technologies {
        height: 250px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        display: block;
        width: 90%;
    }
    .personinformation {
        width: 100%;
    }

    .works {
        margin-top: 30px;
        width: 100%;
        left: 0px;
    }  
    
}